.music-box {
    width: 80%;
    box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
    background-color: whitesmoke;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    text-align: left;
    padding: 20px;
    margin-bottom: 20px;

    .bold {
        font-weight: bold;
    }

    .music-owner{
        font-size: 16px;
        line-height: 20px;
    }

    .music-url {
        margin-top: 10px;
    }
}