@import "../defaultImport.scss";

.App {
    background: $dark-theme-background;

    .music-outer-box{
        position: relative;
        .loading {
            @include square-width-height(35px);
            position: absolute;
            top: 25px;
            right: 5%;
        }
    }

    .my-music {
        .music-box .music-owner-url {
            width: 63%;
        }
    }
}