@import "../defaultImport.scss";

.wallet-component {
    display: flex;
    align-items: center;
    margin-left: auto;

    .wallet-connect-btn {
        cursor: pointer;
        background: $blue-background;
        border-radius: 6px;
        color: $white-color;
        padding: 8px 15px;
        margin-right: 5px;
        font-size: 13px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        max-width: 213px;
        border: none;

        @media #{$mobile} {
            max-width: 100px;
        }

        &.connected {
            background-color: $dark-grey-background;
            pointer-events: none;
        }

    }
    .wallet {
        @include square-width-height(37px);
    }

}