@import "../defaultImport.scss";

footer{
    background-color: $dark-theme-background;
    margin-top: 25px;
    width: 100%;
    .footer-inner-div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 18px 10px;
        .about-me{
            color: $white-color;
            margin-right: 20px;
            .know-more{
                margin-left: 6px;
                color: $white-color;
            }
        }
        .hire-me-btn{
            text-decoration: none;
            background-color: $logo-background-color;
            border-radius: 5px;
            padding: 5px 10px;
            color: $black-color;
            font-weight: 600;
            min-width: 86px;
        }
    }
}