@import "../defaultImport.scss";

header {
    padding: 10px 25px 10px 20px;
    display: flex;
    align-items: center;
    
    .app-home-link{
        margin-right: 10px;
        .app-icon {
            @include square-width-height(37px);
            background-color: $logo-background-color;
            display: block;
            border-radius: 50%;
        }
    }

    .app-title {
        color: $white-color;
        font-family: $font-sen-regular;
        font-weight: bold;
        font-size: 22px;
    }
}