.hero {
    .bio {
        font-size: 20px;
        padding-bottom: 20px;
    }

    .total-music {
        .count {
            font-size: 20px;
            font-weight: bold;
            margin-right: 10px;
        }

        font-size: 18px;
        margin: 0 0 17px 0;
    }
}