@import "../defaultImport.scss";

.music-box {
    color: $white-color;
    width: 80%;
    display: block;
    border-radius: 8px;
    text-align: left;
    margin: 20px 0;
    display: flex;
    position: relative;
    width: 100%;
    min-height: 55px;

    &:last-child{
        .time-line{
            display: none;
        }
    }

    .time-line{
        width: 2px;
        height: calc(100% - 27px);
        position: absolute;
        left: 19px;
        top: 44px;
        background-color: $white-color;
    }
    .music-web-logo {
        @include square-width-height(40px);
        margin-right: 20px;
        z-index: 1;
    }

    .music-owner-url{
        width: 80%;
        padding-right: 10px;
    }

    .bold {
        font-weight: bold;
    }

    .music-owner{
        font-size: 16px;
        line-height: 30px;
    }

    .music-url {
        font-size: 14px;
        line-height: 30px;
    }

    .time-posted {
        position: absolute;
        top: 0;
        right: 0;
    }
}