@import "../defaultImport.scss";

.outer-box {
    margin-top: 20px;
    padding: 20px 5%;
    background-color: $dark-grey-background;
    // border-width: 1px;
    // box-shadow: 0px 5px 10px 0px rgba(167, 159, 159, 0.5);
    border-radius: 8px;
}