@import "../defaultImport.scss";

.post-music-component {
    color: $white-color;
    .title {
        font-family: $font-sen-regular;
        font-weight: bold;
        text-align: center;
    }

    .sub-title {
        font-size: 20px;
        padding-bottom: 20px;
        text-align: center;
    }

    .total-music {
        .count {
            font-size: 20px;
            font-weight: bold;
            margin-right: 10px;
        }

        font-size: 18px;
        margin: 0 0 17px 0;
    }

    .supported-links {
        margin: 10px 0;

        .supported-links-text {
            font-weight: bold;
        }

        .supported-link {
            @include square-width-height(30px);
            margin: 0 2.5px 6px;
        }
    }

    .music-input-box {
        max-width: 800px;
        margin: 0 auto 30px;
        text-align: left;

        input {
            width: 100%;
            max-width: 800px;
            height: 45px;
            border-radius: 8px;
            border: none;
            box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
            padding: 0 10px;
            margin: 0 auto;
            display: block;
            &:focus{
                outline: none;
            }
        }

        .send-music-button {
            padding: 10px 20px;
            border: none;
            background-color: blueviolet;
            border-radius: 8px;
            color: white;
            cursor: pointer;
            font-size: 15px;
            width: max-content;
            display: block;
            margin: 20px auto 0;
        }
    }
}