$logo-background-color: #F1C40F;
$dark-theme-background: #000000;
$grey-background: #d7d7d7;
$dark-grey-background: #302d2d;
$blue-background: #0E79C4;

$white-color: #ffffff;
$black-color: #000000;

$font-popins-regular: 'Poppins', sans-serif;
$font-sen-regular:'Sen', sans-serif;