$logo-background-color: #F1C40F;
$dark-theme-background: #171717;
$grey-background: #d7d7d7;
$dark-grey-background: #5e5858;
$dark-box-background: #2b0638;
$blue-background: #0E79C4;

$error-color: #ff0000; 
$white-color: #ffffff;
$black-color: #000000;

$font-popins-regular: 'Poppins', sans-serif;
$font-sen-regular:'Sen', sans-serif;

$desktop: '(min-width: 992px)';
$mobile: '(max-width: 991px)';